<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
        <li *ngIf="!currentUser"><a (click)="myAccount()"><i class="fa fa-user-o"></i> My Account</a></li>
        <li *ngIf="currentUser"><a class="dropdown-toggle" role="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Xin chào: {{currentUser?.fullName}}</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="onNavigateAdmin()" *ngIf="currentUser?.role === role.ADMIN">Dash board
              (Admin)</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#inforUser" (click)="uploadProfile()">Thông tin cá
              nhân</a>
            <a class="dropdown-item" routerLink="/my-order" *ngIf="currentUser?.role != role.ADMIN">Đơn hàng của tôi</a>
            <a class="dropdown-item" (click)="onSignOut()">Đăng xuất</a>
          </div>
        </li>
      </ul>
      <div style="clear: both;"></div>
    </div>
  </div>
  <div id="header">
    <div class="container">
      <div class="row w-100">
        <div class="col-md-3 d-flex justify-content-center">
          <div class="header-logo">
            <a routerLink="/home" class="logo">
              <img src="http://nguyendai.me/images/logo.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="header-search">
            <form class="d-flex justify-content-center">
              <input class="input" #search (keyup.enter)="onSearch(search.value)" placeholder="Search here">
              <button class="search-btn" (click)="onSearch(search.value)">Search</button>
            </form>
          </div>
        </div>
        <ng-container *ngIf="currentUser?.role !== role.ADMIN">
          <div class="col-md-3 clearfix">
            <div class="header-ctn">
              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenuLink"
                  aria-expanded="false" style="cursor: pointer;">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Your Cart</span>
                  <div class="qty">{{totalOrders}}</div>
                </a>
                <div class="dropdown-menu cart" aria-labelledby="dropdownMenuLink" style="max-height: 600px;
              overflow-y: auto;">
                  <div *ngIf="order?.products?.length <= 0" class="text-center" style="font-size: 14px;">Giỏ hàng đang
                    rỗng
                  </div>
                  <a class="dropdown-item" *ngFor="let item of order?.carts" [title]="item?.product?.title">
                    <div class="product-widget">
                      <div class="product-img text-center mb-2" [routerLink]="['/product', item?.product?.id]">
                        <img [src]="item?.product.images[0]" alt="" style="width: 150px; height: 150px;">
                      </div>
                      <div class="product-body" [routerLink]="['/product', item?.product.id]">
                        <h3 class="product-name"><a>{{item?.product?.title | subtitle}}</a></h3>
                        <h4 class="product-price"><span class="qty">{{item?.quantity}} x
                          </span>{{item?.product?.currentPrice}}</h4>
                      </div>
                      <div class="btn-delete">
                        <button class="btn btn-danger" (click)="removeItem(item?.product)"><i
                            class="fa fa-close"></i></button>
                      </div>
                    </div>
                  </a>
                  <button class="btn btn-primary btn-block mx-auto" style="width: 90%;" routerLink="/order"
                    *ngIf="totalOrders > 0">Đặt hàng ngay</button>
                </div>
              </div>
              <div class="menu-toggle">
                <a href="#">
                  <i class="fa fa-bars"></i>
                  <span>Menu</span>
                </a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</header>
<section style="background: #4285f4 !important;">
  <div class="container">
    <div class="row justify-content-center">
      <nav class="navbar navbar-expand-lg navbar-dark primary-color">
        <a class="navbar-brand" routerLink="/home">Shop 3s</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Trang chủ
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item" style="cursor: pointer" (click)="onSearch('show')">
              <a class="nav-link">Sản phẩm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Liên hệ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about-me">Giới thiệu</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

</section>

<div class="modal fade" id="inforUser">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="inner-content">
        <h4 class="text-center">Thông tin cá nhân</h4>
        <form [formGroup]="editForm">
          <div class="avatar" *ngIf="currentUser?.avatar">
            <img id="preview" [src]="currentUser.avatar" alt="" (click)="uploadFile.click()">
          </div>
          <div class="avatar" *ngIf="!currentUser?.avatar">
            <img id="preview" [src]="avatarDefault" alt="" (click)="uploadFile.click()">
          </div>
          <input type="file" #uploadFile style="display: none" (change)="onFileChange($event)">
          <div class="form-group">
            <label for="">User name</label>
            <input type="text" class="form-control" disabled formControlName="username" aria-describedby="helpId">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="editForm.controls['username'].invalid && (editForm.controls['username'].dirty || editForm.controls['username'].touched)">
              Username không được để trống</div>
          </div>
          <div class="form-group">
            <label for="">Họ tên</label>
            <input type="text" class="form-control" formControlName="fullName" aria-describedby="helpId">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="editForm.controls['fullName'].invalid && (editForm.controls['fullName'].dirty || editForm.controls['fullName'].touched)">
              Họ tên không được để trống</div>
          </div>
          <div class="form-group">
            <label for="">Địa chỉ</label>
            <input type="text" class="form-control" formControlName="address" aria-describedby="helpId">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="editForm.controls['address'].invalid && (editForm.controls['address'].dirty || editForm.controls['address'].touched)">
              Địa chỉ không được để trống</div>
          </div>
          <div class="form-group">
            <label for="">Số điện thoại</label>
            <input type="text" class="form-control" formControlName="phone" aria-describedby="helpId">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="editForm.controls['phone'].invalid && (editForm.controls['phone'].dirty || editForm.controls['phone'].touched)">
              Số điện thoại không được để trống</div>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" formControlName="email" aria-describedby="helpId">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="editForm.controls['email'].invalid && (editForm.controls['email'].dirty || editForm.controls['email'].touched)">
              Email không được để trống</div>
          </div>
          <div class="cover-button d-flex">
            <button name="" id="" class="btn btn-primary" [disabled]="!editForm.valid" data-dismiss="modal"
              (click)="updateUserProfile()" role="button">Cập nhật</button>
            <a name="" id="" class="btn btn-danger" data-dismiss="modal" role="button">Hủy bỏ</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
