<shop-header></shop-header>
<ngx-spinner bdColor="rgba(75, 77, 82, 0.8)" size="medium" color="#fff" [fullScreen]="false" type="square-loader">
</ngx-spinner>
<section class="order-me">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="my-3">Đơn hàng của tôi</h5>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
              aria-controls="pills-home" aria-selected="true" (click)="onFilterOrder('all')">Tất cả</a>
          </li>
          <li class="nav-item" (click)="onFilterOrder('ordered')">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
              aria-controls="pills-profile" aria-selected="false">Chờ vận chuyển</a>
          </li>
          <li class="nav-item" (click)="onFilterOrder('delivered')">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
              aria-controls="pills-contact" aria-selected="false">Chờ giao hàng</a>
          </li>
          <li class="nav-item" (click)="onFilterOrder('not-ordered')">
            <a class="nav-link" id="pills-order-tab" data-toggle="pill" href="#pills-order" role="tab"
              aria-controls="pills-order" aria-selected="false">Giỏ hàng hiện tại</a>
          </li>
        </ul>
        <div class="tab-content all-order" id="pills-tabContent" style="min-height: 300px;">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <ng-container *ngIf="orders">
              <div class="wrapp-order" *ngFor="let order of orders?.order">
                <div class="order-item" *ngFor="let cart of order?.carts">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-4">
                        <img [src]="cart?.product?.images[0]" alt="">
                        <span [innerHTML]="cart?.product?.title"></span>
                      </div>
                      <div class="col-2">
                        <span class="quantity"><span style="color: lightgray"> Qty</span>: {{cart?.quantity}}</span>
                      </div>
                      <div class="col-3">
                        <span class="delivered" *ngIf="order?.stateOrder === 'completed'">Đã giao hàng</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'ordered'">Đã xác nhận đơn hàng (chờ vận
                          chuyển)</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'not-ordered'">Chưa xác nhận đơn hàng, đang
                          tồn tại ở giỏ hàng.</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'delivered'">Đang chuyển hàng tới khách
                          hàng</span>
                      </div>
                      <div class="col-3">
                        <span class="time" *ngIf="order?.stateOrder === 'completed'">Đã giao ngày
                          {{order?.createdDate | date: 'dd/MM/yyyy, h:mm a'}}</span>
                        <span class="time" *ngIf="order?.stateOrder === 'ordered'">Ngày xác nhận đơn hàng
                          {{order?.createdDate | date: 'dd/MM/yyyy, h:mm a'}}</span>
                        <span class="time" *ngIf="order?.stateOrder === 'not-ordered'">Ngày tạo đơn hàng
                          {{order?.createdDate | date: 'dd/MM/yyyy, h:mm a'}}</span>
                        <span class="time" *ngIf="order?.stateOrder === 'delivered'"> Ngày xác nhận giao hàng
                          {{order?.createdDate | date: 'dd/MM/yyyy, h:mm a'}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="spinner-loading d-flex justify-content-center mb-3" *ngIf="!orders">
              <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" value="20"
                diameter="50">
              </mat-progress-spinner>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <ng-container *ngIf="orders">
              <div class="wrapp-order" *ngFor="let order of orders?.order">
                <div class="order-item" *ngFor="let cart of order?.carts">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-4">
                        <img [src]="cart?.product?.images[0]" alt="">
                        <span [innerHTML]="cart?.product?.title"></span>
                      </div>
                      <div class="col-2">
                        <span class="quantity"><span style="color: lightgray"> Qty</span>: {{cart?.quantity}}</span>
                      </div>
                      <div class="col-3">
                        <span class="delivered" *ngIf="order?.stateOrder === 'completed'">Đã giao hàng</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'ordered'">Đã xác nhận đơn hàng (chờ vận
                          chuyển)</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'not-ordered'">Chưa xác nhận đơn hàng, đang
                          tồn tại ở giỏ hàng.</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'delivered'">Đang chuyển hàng tới khách
                          hàng</span>
                      </div>
                      <div class="col-3">
                        <span class="time">Đơn hàng được xác nhận ngày
                          {{order?.createdDate | date: 'dd/MM/yyyy, h:mm a'}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="spinner-loading d-flex justify-content-center mb-3" *ngIf="!orders">
              <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" value="20"
                diameter="50">
              </mat-progress-spinner>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <ng-container *ngIf="orders">
              <div class="wrapp-order" *ngFor="let order of orders?.order">
                <div class="order-item" *ngFor="let cart of order?.carts">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-4">
                        <img [src]="cart?.product?.images[0]" alt="">
                        <span [innerHTML]="cart?.product?.title"></span>
                      </div>
                      <div class="col-2">
                        <span class="quantity"><span style="color: lightgray"> Qty</span>: {{cart?.quantity}}</span>
                      </div>
                      <div class="col-3">
                        <span class="delivered" *ngIf="order?.stateOrder === 'completed'">Đã giao hàng</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'ordered'">Đã xác nhận đơn hàng (chờ vận
                          chuyển)</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'not-ordered'">Chưa xác nhận đơn hàng, đang
                          tồn tại ở giỏ hàng.</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'delivered'">Đang chuyển hàng tới khách
                          hàng</span>
                      </div>
                      <div class="col-3">
                        <span class="time">Giỏ hàng được tạo ngày
                          {{order?.createdDate | date: 'dd/MM/yyyy, h:mm a'}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <!-- Không có giỏ hàng nào tồn tại để chuyển hàng -->
          </div>
          <div class="tab-pane fade" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
            <ng-container *ngIf="orders">
              <div class="wrapp-order" *ngFor="let order of orders?.order">
                <div class="order-item" *ngFor="let cart of order?.carts">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-4">
                        <img [src]="cart?.product?.images[0]" alt="">
                        <span [innerHTML]="cart?.product?.title"></span>
                      </div>
                      <div class="col-2">
                        <span class="quantity"><span style="color: lightgray"> Qty</span>: {{cart?.quantity}}</span>
                      </div>
                      <div class="col-3">
                        <span class="delivered" *ngIf="order?.stateOrder === 'completed'">Đã giao hàng</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'ordered'">Đã xác nhận đơn hàng (chờ vận
                          chuyển)</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'not-ordered'">Chưa xác nhận đơn hàng, đang
                          tồn tại ở giỏ hàng.</span>
                        <span class="delivered" *ngIf="order?.stateOrder === 'delivered'">Đang chuyển hàng tới khách
                          hàng</span>
                      </div>
                      <div class="col-3">
                        <span class="time">Giỏ hàng được tạo ngày
                          {{order?.createdDate | date: 'dd/MM/yyyy, h:mm a'}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="spinner-loading d-flex justify-content-center mb-3" *ngIf="!orders">
              <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" value="20"
                diameter="50">
              </mat-progress-spinner>
            </div>
          </div>
          <!-- <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" *ngIf="orders?.cartEmpty">
            Giỏ hàng tồn tại, đang đợi chuyển hàng (show thông tin giỏ hàng =)) )
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<shop-footer></shop-footer>
