<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
    <div>
        <strong> Chào Quý Khách!</strong>

        <p> Lời đầu tiên, chúng tôi xin gửi lời cám ơn chân thành và sâu sắc nhất đến Quý khách hàng đã tin tưởng
            hợp tác và sử dụng dịch vụ của chúng tôi. Sự tin tưởng của quý vị đã góp phần lớn quyết định sự phát triển
            và
            thành công của trong thời gian qua.</p>

        <p>Với phương châm “Vì sự hài lòng cao nhất của khách hàng”, trong những năm qua, chúng tôi đã và đang
            không ngừng phấn đấu, nâng cao chất lượng dịch vụ để mang lại nhiều lợi ích hơn và có thể đáp ứng mọi yêu
            cầu
            của khách hàng.</p>

        <p>Chúng tôi luôn biết rằng, sự ủng hộ và sự tin yêu của Quý khách hàng là tài sản vô giá với chúng tôi,
            để đạt được điều này chúng tôi luôn nỗ lực không ngừng, hướng tới mục tiêu phát triển bền vững, chú trọng
            xây
            dựng các chính sách chăm sóc khách hàng,mang lại những giá trị thiết thực để luôn làm hài lòng khách hàng ở
            mức
            cao nhất nhằm đáp lại tình cảm và sự tin yêu của Quý khách.</p>

        <p>Một lần nữa, chúng tôi xin được gửi lời cảm ơn chân thành đến Quý khách hàng đã không ngừng quan tâm
            và luôn đồng hành cùng chúng tôi trong suốt thời gian qua. Chúng tôi cũng hy vọng trong thời gian tới sẽ
            tiếp tục nhận được sự quan tâm và tín nhiệm của Quý khách.</p>

        <p>Xin chúc quý khách hàng sức khỏe, may mắn và thành công</p>

        <strong>Trân Trọng!</strong>

        TỔNG GIÁM ĐỐC
    </div>
</body>

</html>