:host {
  .item-wrapping {
    background: #d8d2d270;
    margin-bottom: 20px;

    .wrapping-img {
      position: relative;
      cursor: pointer;
      padding: 10px;
      background: linear-gradient(45deg, #86ab79, #7ec7e8);

      &:hover>.sub-cart {
        display: block;
        transition: all ease-in-out 0.5s;
        opacity: 1;
        margin-top: 0;
      }

      img {
        width: 100%;
      }

      .sub-cart {
        transition: all ease-in-out 0.6s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #ff3547 !important;
        padding: 5px 9px;
        margin-top: 100px;
        opacity: 0;

        span {
          padding: 0 10px;
          color: #ffff;
          border-left: 1px solid #fff;
          outline: none !important;
          &:hover{
            color: #333;
          }
          &:first-child {
            border-left: none;
          }
        }
      }
    }

    .description {
      color: #585252;
      font-size: 12px;
      padding: 7px 10px;
    }

    .price {
      font-size: 17px;
      color: orangered;
      text-align: center;
      padding-bottom: 15px;
    }
  }
}
