<shop-header></shop-header>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="small" color="#fff" type="line-scale-party">
  <p style="color: #fff">Đang tải. Vui lòng đợi !</p>
</ngx-spinner>
<section class="sliders">
  <swiper [config]="config">
    <div>
      <img src="assets/banner/f125d2fb88b9a52b495d4d7ef6db60ef.jpg" alt="" srcset="" style="width: 100%">
    </div>
    <div>
      <img src="assets/banner/5ff2287f592c47c88ee4a26eb72073db.jpg" alt="" srcset="" style="width: 100%">
    </div>
    <div>
      <img src="assets/banner/786d98beb7074710838967a1329cdab9.jpg" alt="" srcset="" style="width: 100%">
    </div>
    <div>
      <img src="assets/banner/ca6fab2715cdb3334deef2c4d3d68339.png" alt="" srcset="" style="width: 100%">
    </div>
  </swiper>
</section>
<section class="homepage">
  <div class="container">
    <div class="row list-product">
      <div class="menu-head-sub">
        <div class="title-menu">Thời trang nam</div>
        <div class="item-menu">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" *ngFor="let category of categorys">
              <a class="nav-link" id="home-tab" data-toggle="tab"
                [ngClass]="{'active': category.id === firstCategoryId}"
                (click)="filterProducts(category.id, 'category')" role="tab" aria-controls="home" aria-selected="true"
                [innerHTML]="category?.categoryName"></a>
            </li>
            <li class="show-more-catalog">
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  More
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item nav-link" *ngFor="let subCatalog of subCategorys"
                    [ngClass]="{'active': subCatalog.id === firstCategoryId}"
                    (click)="filterProducts(subCatalog?.id, 'subcategory')" [innerHTML]="subCatalog?.categoryName"></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="product-item w-100">
        <div class="row">
          <div class="col-sm-4 col-md-3 col-lg-3 mb-4" *ngFor="let product of products">
            <shop-product [product]="product"></shop-product>
          </div>
          <div class="row w-100">
            <div class="col-12 text-center" style="color: #000; cursor: pointer; padding-bottom: 12px;">Xem thêm ...
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row list-product">
      <div class="menu-head-sub">
        <div class="title-menu">Thời trang nữ</div>
        <div class="item-menu">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="product-item">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <!-- <shop-product></shop-product> -->
          </div>
          <div class="row w-100">
            <div class="col-12 text-center" style="color: #000; cursor: pointer; padding-bottom: 12px;">Xem thêm ...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<shop-footer></shop-footer>
