<shop-header></shop-header>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="small" color="#fff" type="line-scale-party">
  <p style="color: #fff">Đang tải. Vui lòng đợi !</p>
</ngx-spinner>
<section class="sliders">
  <swiper [config]="config">
    <div>
      <img src="assets/banner/f125d2fb88b9a52b495d4d7ef6db60ef.jpg" alt="" srcset="" style="width: 100%">
    </div>
    <div>
      <img src="assets/banner/5ff2287f592c47c88ee4a26eb72073db.jpg" alt="" srcset="" style="width: 100%">
    </div>
    <div>
      <img src="assets/banner/786d98beb7074710838967a1329cdab9.jpg" alt="" srcset="" style="width: 100%">
    </div>
    <div>
      <img src="assets/banner/ca6fab2715cdb3334deef2c4d3d68339.png" alt="" srcset="" style="width: 100%">
    </div>
  </swiper>
</section>
<section class="homepage">
  <div class="container">
    <h4 class="mt-4">Danh mục sản phẩm</h4>
    <div class="row list-catalog">
      <ng-container *ngFor="let item of categorys">
        <div class="col-sm-6 col-md-3 item-catalog" *ngIf="item?.products[0]?.images[0]"
          (click)="onSearch(item?.categoryName)">
          <div class="cover">
            <img [src]="item?.products[0]?.images[0]" [alt]="item?.categoryName">
            <div class="title" [innerHTML]="item?.categoryName"></div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row list-product">
      <div class="col-12">
        <div class="row">
          <ng-container  *ngFor="let product of products">
            <div class="col-sm-4 col-md-3 col-lg-3 mb-4" *ngIf="product.images.length > 0">
              <shop-product [product]="product"></shop-product>
            </div>
          </ng-container>
        </div>
        <div class="row pagination-row justify-content-center pt-3" *ngIf="page?.pages.length > 1">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" *ngIf="page?.current > 1" (click)="nextAndPrevious('pre')">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" [ngClass]="{'active': i+1 == page.current}"
                *ngFor="let p of page?.pages let i = index" (click)="navigatePage(i)">
                <a class="page-link" [innerHTML]="i+1"></a>
              </li>
              <li class="page-item" *ngIf="page?.current < page?.pages.length" (click)="nextAndPrevious('next')">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<shop-footer></shop-footer>
