:host {
  .homepage {
    background: #fff;
    .banner-head {
      img {
        width: 100%;
      }
      .banner-right {
        img {
          height: 100%;
        }
      }
    }
    .list-catalog{
      .item-catalog{
        border: 1px solid black;
        border-left: none;
      }
    }
    .list-product {
      margin: 15px 0;
      .pagination-row {
        .pagination {
          li {
            &.page-item {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
