<section class="order-details">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-12 col-md-4 information">
        <h5>Thông tin đơn hàng</h5>
        <div class="name">Họ tên khách hàng: {{order?.user?.fullName}}</div>
        <div class="address">Địa chỉ: {{order?.user?.address}}</div>
        <div class="phone">Số điện thoại: {{order?.user?.phone}}</div>
        <div class="email">Email: {{order?.user?.email}}</div>
        <h5 class="mt-2">Thông tin đơn hàng</h5>
        <div class="status-payment"
          [innerHTML]="order?.statePayment ? 'Trạng thái thanh toán: Đã thanh toán' : 'Trạng thái thanh toán: Chưa thanh toán'">
        </div>
        <div class="status-order" *ngIf="order?.stateOrder === 'not-ordered'">Trạng thái đơn hàng: Chưa đặt hàng</div>
        <div class="status-order" *ngIf="order?.stateOrder === 'completed'">Trạng thái đơn hàng: Giao hàng hoàn thành
        </div>
        <div class="status-order" *ngIf="order?.stateOrder === 'ordered'">Trạng thái đơn hàng: Đã đặt hàng</div>
        <div class="status-order" *ngIf="order?.stateOrder === 'delivered'">Trạng thái đơn hàng: Đang chuyển hàng</div>
        <div class="quantity">Số lượng sản phẩm: ({{order?.carts.length}} sản phẩm)</div>
        <div class="payment">Số tiền thanh toán: {{totalPayment | currency:' ': 'symbol' : '1.0-3'}} đ</div>
        <select class="form-control" (change)="getValueSelect($event.target.value)">
          <option value="ordered" class="w-100" *ngIf="order?.stateOrder !== 'ordered'"
            [disabled]="order?.stateOrder === 'completed'? true : false">Đã đặt hàng</option>
          <option value="ordered" class="w-100" *ngIf="order?.stateOrder == 'ordered'" selected="selected">Đã đặt hàng
          </option>
          <option value="not-ordered" class="w-100" *ngIf="order?.stateOrder !== 'not-ordered'"
            [disabled]="order?.stateOrder !== 'not-ordered'? true : false">Chưa đặt hàng</option>
          <option value="not-ordered" class="w-100" *ngIf="order?.stateOrder == 'not-ordered'" selected="selected">Chưa
            đặt hàng</option>
          <option value="delivered" class="w-100" *ngIf="order?.stateOrder !== 'delivered'"
            [disabled]="order?.stateOrder === 'completed'? true : false">Đang chuyển hàng</option>
          <option value="delivered" class="w-100" *ngIf="order?.stateOrder == 'delivered'" selected="selected">Đang
            chuyển hàng</option>
          <option value="completed" class="w-100" *ngIf="order?.stateOrder !== 'completed'">Đã giao hàng thành công
          </option>
          <option value="completed" class="w-100" *ngIf="order?.stateOrder == 'completed'" selected="selected">Đã giao
            hàng thành công</option>
        </select>
        <div class="update" *ngIf="order?.stateOrder !== 'completed' && isLoading">
          <button class="btn btn-success btn-block mt-2" (click)="updateOrder(order)">Cập nhật</button>
        </div>
        <div class="update" *ngIf="order?.stateOrder == 'ordered' && isLoading">
          <button class="btn btn-danger btn-block mt-2" data-toggle="modal"
          data-target="#deleteOrder">
          <i class="fa fa-trash" style="padding-right: 7px;"></i>Xóa đơn hàng</button>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 product-list">
        <div class="row">
          <ng-container *ngIf="isLoading">
            <div class="col-sm-12 col-md-6 mb-2 a-cart" *ngFor="let cart of order?.carts">
              <shop-product [product]="cart?.product"></shop-product>
              <div class="a-product">Số lượng: {{cart?.quantity}}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Delete a image -->
<div class="modal fade" id="deleteOrder">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Bạn có chắc chắn muốn xóa đơn hàng này ?</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeOrdered()">Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="line-scale-party">
  <p style="color: #fff">Đang cập nhật đơn hàng. Vui lòng đợi !</p>
</ngx-spinner>
