<shop-header></shop-header>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="line-scale-party">
  <p style="color: #fff">Đang gửi đơn hàng. Vui lòng đợi !</p>
</ngx-spinner>
<section style="background: #eae4e461">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 content-left">
        <table class="table table-hover table-inverse">
          <thead class="thead-inverse">
            <tr>
              <th>Sản phẩm</th>
              <th>Giá</th>
              <th>Số lượng</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of order?.carts">
              <td scope="row" class="item-order">
                <img [src]="order?.product?.images[0]" alt="" srcset="">
              </td>
              <td>
                <div class="cover-price">
                  <div class="current-price">{{order?.product?.currentPrice | currency:' ': 'symbol' : '1.0-3'}} đ</div>
                  <div class="old-price" *ngIf="order?.product?.oldPrice">
                    {{order?.product?.oldPrice | currency:' ': 'symbol' : '1.0-3'}} đ</div>
                </div>
              </td>
              <td>{{order?.quantity}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-12 col-md-4 order-right">
        <div class="cover-payment">
          <div class="header-title">Thanh toán</div>
          <div class="sub-title">Thanh toán vận chuyển</div>
          <div class="infor-order">
            <div class="name-line">
              <div class="name">{{currentUser?.fullName}}</div>
              <div class="edit">Chỉnh sửa</div>
            </div>
            <div class="address">{{currentUser?.address}}</div>
            <div>
              <span><i class="fa fa-phone" aria-hidden="true"></i>
              </span> {{currentUser?.phone}}</div>
            <div>
              <span><i class="fa fa-envelope" aria-hidden="true"></i>
              </span> {{currentUser?.email}}</div>
          </div>
          <div class="infor-cart">Thông tin đơn hàng</div>
          <div class="cover-quantity">
            <div class="quantity">Tạm tính: ( {{order?.carts.length}} sản phẩm )</div>
            <div class="payment">{{totalPayment | currency:' ': true : '1.0-3'}} đ</div>
          </div>
          <div class="send-order mt-5" *ngIf="order">
            <button class="btn btn-block btn-primary" (click)="confirmOrder()">Xác nhận đặt hàng</button>
            <!-- <div class="p-3 mb-2 text-center bg-info text-white">Đã đặt hàng</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<shop-footer></shop-footer>
