<shop-header></shop-header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <div class="cover">
          <h3>Thông tin liên hệ</h3>
          <p>Nếu bạn có bất kì câu hỏi hoặc thắc mắc nào về tôi. Có thể liên hệ với tôi thông qua thông
            tin bên dưới.</p>
        </div>

        <ul>
          <li><i class="fa fa-map-marker"></i><span>429/6 phường Tăng Nhơn Phú A, Quận 9, TP.Hồ Chí
              Minh</span></li>
          <li><i class="fa fa-envelope"></i><span>ngtrdai290197@gmail.com</span></li>
          <li><i class="fa fa-phone"></i><span><strong>037.562.9888</strong></span></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-6">
        <form>
          <div class="form-group">
            <input type="text" name="" id="" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" name="" id="" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" name="" id="" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Content"></textarea>
          </div>
          <div class="btn btn-block btn-danger mb-4 mt-4">Send</div>
        </form>
      </div>

    </div>
  </div>
  <div class="cover-opacity"></div>
</section>
<shop-footer></shop-footer>
