<div class="lowin lowin-purple">
  <div class="lowin-brand">
    <img src="../../../assets/auth/kodinger.jpg" alt="logo" routerLink="/">
  </div>
  <div class="lowin-wrapper">
    <div class="lowin-box lowin-register">
      <div class="lowin-box-inner">
        <form [formGroup]="registerForm" (ngSubmit)="onSignUp()">
          <p>Let's create your account</p>
          <div class="lowin-group">
            <label>Username</label>
            <input type="text" class="lowin-input" formControlName="username">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)">
              Username is
              required</div>
          </div>
          <div class="lowin-group">
            <label>Full Name</label>
            <input type="text" class="lowin-input" formControlName="fullName">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="registerForm.controls['fullName'].invalid && (registerForm.controls['fullName'].dirty || registerForm.controls['fullName'].touched)">
              Full name is
              required</div>
          </div>
          <div class="lowin-group">
            <label>Address</label>
            <input type="text" class="lowin-input" formControlName="address">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="registerForm.controls['address'].invalid && (registerForm.controls['address'].dirty || registerForm.controls['address'].touched)">
              Address is
              required</div>
          </div>
          <div class="lowin-group">
            <label>Email</label>
            <input type="email" class="lowin-input" formControlName="email">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
              Email is
              required</div>
          </div>
          <div class="lowin-group">
            <label>Phone</label>
            <input type="text" class="lowin-input" formControlName="phone">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="registerForm.controls['phone'].invalid && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)">
              Phone is
              required</div>
          </div>
          <div class="lowin-group">
            <label>Password</label>
            <input type="password" name="password" class="lowin-input" formControlName="password">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
              Password is
              required</div>
          </div>
          <div class="lowin-group">
            <label>Confirm Password</label>
            <input type="password" name="password" class="lowin-input" formControlName="confirmPassword">
            <div class="alert alert-danger mt-1 py-1 mb-0"
              *ngIf="registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)">
              Confirm password not math</div>
          </div>
          <button type="submit" [disabled]="!registerForm.valid" class="lowin-btn">Sign Up</button>
          <div class="text-foot">
            Already have an account? <a href="" class="login-link" routerLink="/auth/sign-in">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
