<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-10 search mx-auto">
      <div class="row">
        <div class="col-4 d-flex justify-content-end">
          <mat-form-field class="input-search w-100">
            <input matInput placeholder="Nhập số điện thoại đặt hàng ..." #keyword>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="date-picker" color="accent">
            <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Chọn ngày cần tìm kiếm"
              (dateChange)="onSelectDate($event)" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker color="primary" disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <button mat-raised-button color="primary" (click)="onSearchOrder(keyword.value)">Tìm kiếm</button>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
          <button mat-raised-button color="primary" (click)="onShowAll()">Show All</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [ngClass]="{'justify-content-center': orders?.length === 0}">
    <ng-container *ngIf="orders?.length>0">
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4" *ngFor="let order of orders">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>{{order?.stateOrder | parserorder}}</h4>
            </mdb-card-title>
            <mdb-card-text>{{order?.payments}}</mdb-card-text>
            <div>KH: {{order?.user?.fullName}}</div>
            <div>Email: {{order?.user?.email}}</div>
            <div>Phone: {{order?.user?.phone}}</div>
            <div>Address: {{order?.user?.address}}</div>
            <div>Ngày tạo đơn: {{order?.createdDate | date:'dd/MM/yyyy, hh:mm:a'}}</div>
            <div *ngIf="order?.stateOrder === 'ordered'">Ngày đặt: {{order?.updatedAtDate | date:'dd/MM/yyyy, hh:mm:a'}}
            </div>
            <button mat-raised-button color="primary" class="d-flex justify-content-center w-100 py-1"
              [routerLink]="['/admin/dashboard/order-details', order.id]">Chi tiết</button>
          </mdb-card-body>
        </mdb-card>
      </div>
    </ng-container>
    <ng-container *ngIf="isLoading">
      <div class="alert alert-danger" *ngIf="orders?.length === 0">Không tìm thấy đơn hàng nào</div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="isLoading">
  <div class="not-order" *ngIf="cartEmpty && actionFilter === 'delivered'">
    Hiện tại chưa có đơn hàng nào đang được chuyển đi
  </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <div class="not-order" *ngIf="cartEmpty && actionFilter === 'ordered'">
    Hiện tại chưa có đơn hàng nào đang được xác nhận đặt
  </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <div class="not-order" *ngIf="cartEmpty && actionFilter === 'not-ordered'">
    Hiện tại chưa có đơn hàng nào được tạo
  </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <div class="not-order" *ngIf="cartEmpty && actionFilter === 'completed'">
    Hiện tại chưa có đơn hàng nào được giao thành công
  </div>
</ng-container>
