<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4" *ngFor="let order of orders">
      <mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{order?.stateOrder | parserorder}}</h4>
          </mdb-card-title>
          <mdb-card-text>{{order?.payments}}</mdb-card-text>
          <div inner>KH: {{order?.user?.fullName}}</div>
          <div>Email: {{order?.user?.email}}</div>
          <div>Phone: {{order?.user?.phone}}</div>
          <div>Address: {{order?.user?.address}}</div>
          <div>Ngày tạo đơn: {{order?.createdDate | date:'dd/MM/yyyy, hh:mm:a'}}</div>
          <a mdbBtn color="primary" class="d-flex justify-content-center"
            [routerLink]="['/admin/dashboard/order-details', order.id]">Chi tiết</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>

<div class="not-order" *ngIf="cartEmpty && actionFilter === 'delivered'">
  Hiện tại chưa có đơn hàng nào đang được chuyển đi
</div>
<div class="not-order" *ngIf="cartEmpty && actionFilter === 'ordered'">
  Hiện tại chưa có đơn hàng nào đang được xác nhận đặt
</div>
<div class="not-order" *ngIf="cartEmpty && actionFilter === 'not-ordered'">
  Hiện tại chưa có đơn hàng nào được tạo
</div>
<div class="not-order" *ngIf="cartEmpty && actionFilter === 'completed'">
  Hiện tại chưa có đơn hàng nào được giao thành công
</div>
